/* выбрать  палитру
#212121  черный вторичный 
#2196F3 голубой  ссылки  кнопка
#757575  серый -  основной  
#FFFFFF  белый Н1 и   цвет фона основной
#000000  черный  логотип
rgba(255, 255, 255, 0.6)  контакты  футер 
#2F303A  цвет фон героя и футера

 */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --first-accent-color: #2196f3;
  --title-color: #212121;
  --second-accent-color: #ffffff;
  --logo-color: #000;

  --hero-footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-bcg-color: #f5f4fa;
  --header-border-color: #ececec;
  --list-border-color: #eeeeee;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--second-accent-color);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}
.logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.first-acent {
  color: var(--first-accent-color);
}
.second-acent {
  color: var(--second-accent-color);
}
.link {
  color: var(--title-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--first-accent-color);
}
.current {
  color: var(--first-accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--first-accent-color);
}

.site-nav,
.contacts {
  display: flex;
}
.site-nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  margin-left: 93px;
}
.contacts {
  margin-left: auto;
}
.site-nav .link,
.contacts .link {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* .section {
  background-color: yellow;
} */

.button {
  padding: 10px 32px;
  color: var(--second-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--first-accent-color);

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--primary-text-color);
}
.button-filter {
  padding: 6px 22px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--team-bcg-color);
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus,
.button-filter:active {
  background-color: var(--first-accent-color);
  color: var(--second-accent-color);
}
.button,
.button-filter {
  border-radius: 4px;
  border: none;
}
/* hero    */
.hero,
.page-footer {
  background-color: var(--hero-footer-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  width: calc(100% / 12 * 8);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--second-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-align: center; */
}
.hero-title,
.feature-title {
  text-transform: uppercase;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.works {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
}
.item {
  margin-top: 30px;
  margin-left: 30px;
}
.feature-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.works-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.team {
  background-color: var(--team-bcg-color);
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  padding-bottom: 30px;
  background-color: var(--second-accent-color);
  text-align: center;
}

.team-title {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.19;
}
.team-img {
  margin-bottom: 30px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.client-title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item {
  font-size: 16px;
  line-height: 1.88;
}
.client-title,
.filter-name {
  text-align: left;
}
.projects {
  padding: 20px 24px;
  border: 1px solid var(--list-border-color);
  border-top: none;
}

.portfolio-item {
  margin-bottom: 20px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
.address {
  width: calc(100% / 12 * 3);
  font-style: normal;
}
.map-place {
  margin-bottom: 9px;
  color: var(--second-accent-color);
}
.address .link {
  color: var(--footer-contacts-color);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address .link:hover,
.address .link:focus {
  color: var(--first-accent-color);
}
.footer-logo {
  margin-bottom: 20px;
}
